.dashboard-card {
  height: 88px;
  border-radius: 10px !important;
  > div {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: ellipsis;
    padding: 15px;
    height: 88px;
  }
}
.dashboard-card-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  border-radius: 10px;
  flex-shrink: 0;
  svg {
    width: 15px;
    height: 30px;
  }
  &.total {
    background-color: #e0ecff;
    svg {
      color: #4791ff;
    }
  }
  &.todo {
    background-color: #fff9e1;
    svg {
      color: #ffd950;
    }
  }
  &.overdue {
    background-color: #ffdae5;
    svg {
      color: #ff2366;
    }
  }
  &.completed {
    background-color: #d4f4e8;
    svg {
      color: #02bc77;
    }
  }
}
.dashboard-card-info {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  margin-right: auto;
  flex-shrink: 2;
  strong {
    font-size: 22px;
  }
}
.dashboard-card-value__negative {
  color: red;
}
.dashboard-card-value__positive {
  color: green;
}
