.dashboard-card {
  height: 88px;
  border-radius: 10px !important;
  > div {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: ellipsis;
    padding: 15px;
    height: 88px;

    h3 {
      font-size: 1.1em;
      line-height: 1.2em;
      display: inline-block;
      margin: 0;
      white-space: normal;
    }
  }
}
.dashboard-card-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  flex-shrink: 0;
  border-radius: 10px;

  // svg {
  // }

  // &.total {
  //   background-color: #e0ecff;
  //   svg {
  //     color: #4791ff;
  //   }
  // }
  // &.todo {
  //   background-color: #fff9e1;
  //   svg {
  //     color: #ffd950;
  //   }
  // }
  // &.overdue {
  //   background-color: #ffdae5;
  //   svg {
  //     color: #ff2366;
  //   }
  // }
  // &.completed {
  //   background-color: #d4f4e8;
  //   svg {
  //     color: #02bc77;
  //   }
  // }
}
.dashboard-card-info {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  margin-right: auto;
  flex-shrink: 2;
  padding-right: 12px;

  strong {
    font-size: 22px;
  }
}
.dashboard-card-value {
  font-size: 1.8em;
  font-weight: bolder;
  padding-left: 12px;
  border-left: 1px solid #ccc;
}
