.report_actions {
  display: flex;
  flex-direction: row;
}

.onereportitem {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    > .report_icon svg{
        width: 25px;
        height: 25px;
    }
    > .report_text {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        margin-left: 5px;
        > p {
            font-size: 11px;
            margin: 0;
        }
        > span {
            font-size: 9px;
        } 
    }
    > .report_action{
      cursor: pointer;
      & svg {
          width: 25px;
          height: 25px;
      }
    } 
}

.report_action:last-child {
  color: #7d1ae5;
  margin-left: 10px;
}

.report_action:hover svg {
    color: #02BC77;
}
